// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects{
  .name {
    font-size: 1.4em;
  }
  a.name-link {
    color: #2599c6 !important;
  }
}

table {
  width: 100% !important;
}

.actions {
  padding-top: 20px;
}

.pad-left{
  margin-left: 10px;
}
