$dark_gray: lightgray;

body {
  background-image: url('pink.jpg');
  background-size: cover;
}

h1, h2, h3{
  font-family: 'Loved by the King', cursive;
}

.imgshadow{
  background: #FFFFFF;
  border: 1px solid $dark_gray;
  margin-top: 5px;
  -moz-box-shadow: 0px 0px 5px $dark_gray;
  -webkit-box-shadow: 0px 0px 5px $dark_gray;
  box-shadow: 0px 0px 5px $dark_gray;
}

.container {
  background: rgba(255,255,255,0.7);
  .inner{
    padding: 0px 30px;
  }
}

