<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Melissa Warren </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="active"><a href="#">About Me</a></li>
      <li class="divider"></li>
      <li><a href="#">Clients</a></li>
      <li class="divider"></li>

      <li class="has-dropdown"><a href="#">Graphics</a>
        <ul class="dropdown">
          <%- Refinery::Categories::Category.all.each do |category| %>
            <li><a href="#"><%= category.title %></a></li>
            <li class="divider"></li>
          <% end %>
        </ul>
      </li>

    </ul>
  </section>
</nav>
